@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@200&family=Ribeye+Marrow&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* inicio da estilização da header */

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.navbar{
    display: flex;
    flex: center;
    align-items: center;
}

.navbar-item1{
    display: inline-block;
    margin-left: 10px;
}

.navbar-item2{
    display: inline-block;
    margin-left: 640px;
}

.error{
    color: rgb(255, 255, 255);
}

.logo{
    display: inline-block;
    font-family: "Ribeye Marrow";
    font-size: 40px;
    color: #670281;
    margin-left: 550px;
}

/* final da estilização da header */

/* inicio da estilização do body */

.fundo-principal{
    background-image: url(../Assets/asset8.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.textos{
    word-wrap: break-word;
    font-weight: 800;
    font-size: 20px;
    font-family: "Aladin";
    text-align: center;
    color: #fff4f4;
    margin-top: 14%;
    margin-left: 5%;
    width: 300px;
    text-align: left;
}

.login-page{
    margin-top: 5%;
    width: 20%;
    margin-left: 45%;
    font-weight: 650;
}

.error{
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex: row;
    justify-content: center;
    margin-left: -145px;
    font-size: 20x;
    font-weight: 650;
}


.Login{
    margin-top: 10px;
    background-color: #670281;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 30px
}

label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input{
    border: 3px solid #000000;
    box-sizing: border-box;
    width: 50%;
}

.produtos{
    background-color: black;
}

.imagem-de-fundo{
    height: 600px;
}
.imagem-de-fundo img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.produto1{
    height: 350px;
    margin-top: 0px;
    padding: 20px;
}

.produto2{
    height: 350px;
    padding: 20px;
}

.produto3{
    height: 350px;
    padding: 20px;
}

.produto4{
    height: 350px;
    padding: 20px;
}

.seta{
    height: 100px;
}

.produto5{
    height: 350px;
    padding: 20px;
}

.produto1 img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/* final da estilização do body */

/* inicio da estilização do footer */

.rodapé{
    background-color: black;
}

.copyright{
    margin-left: 700px;
    color: white;
}

.carrosel{
    width: 400px;
    margin: 50px auto;
    overflow: hidden;
    box-shadow: 10px, 10px, 15px, rgba(0,0,0,0.7);
}

.carrosel ul{
    display: flex;
    list-style: none;
    width: 1200px;
}

.carrosel li{
    position: relative;
    left: -400px;
    animation: slide 15s infinite ease-out;
}

@keyframes slide{
    0%{left: 0px}
    25%{left: -350px}
    50%{left: -700px}
    75%{left: -1050px}
    100%{left: 0px}
}